################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleAppGit/.vs/ConsoleAppGit
/ConsoleAppGit/bin/Debug/net8.0
/ConsoleAppGit/obj
